.carousel {
  position: relative;
  width: 900px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 220px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  background:
    linear-gradient(180deg, #1a1a1a, #0a0a0a);
  transition:
    transform 0.8s cubic-bezier(.22,.61,.36,1),
    opacity 0.8s,
    box-shadow 0.8s;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  cursor: pointer;

}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
  text-align: center;
}

.card-info h3 {
  font-size: 18px;
}

.card-info p {
  font-size: 14px;
  opacity: 0.7;
}

.card.center {
  transform:
    translateX(0)
    scale(1);
  opacity: 1;
  z-index: 5;
  box-shadow:
    0 0 30px rgba(255,255,255,0.6),
    0 0 60px rgba(255,255,255,0.25),
    0 20px 50px rgba(0,0,0,0.8);
}

.card.left {
  transform:
    translateX(-260px)
    scale(0.75);
  opacity: 0.6;
  z-index: 4;
}

.card.right {
  transform:
    translateX(260px)
    scale(0.75);
  opacity: 0.6;
  z-index: 4;
}

.card.far-left {
  transform:
    translateX(-480px)
    scale(0.55);
  opacity: 0.3;
  z-index: 3;
}

.card.far-right {
  transform:
    translateX(480px)
    scale(0.55);
  opacity: 0.3;
  z-index: 3;
}

.card.hidden {
  transform:
    translateX(0)
    scale(0.3);
  opacity: 0;
  z-index: 1;
}
