* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 100vh;

  background:
    radial-gradient(
      circle at center,
      rgba(48, 48, 48, 0.75),rgba(0, 0, 0, 0.95)
    ),
    url("/images/maine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
